/* title fonts */
.font-dge_bold {
  font-family: "DGE Bold";
  letter-spacing: 3px;
}

/*navbar*/
.nav-items {
  font-family: "DGE Bold";
  font-size: 22px;
  letter-spacing: 3px;
}

.nav-category:hover {
  color: #9a9a99;
}

.nav-items:hover {
  color: #000000;
}

/* footer */
.newsletter {
  border: none !important;
}

.newsletter:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.footer-item:hover {
  color: #9a9a99;
}

/* Login & Register */
.login-card {
  width: 50vh;
}

/* checkout */
.address,
.delivery,
.payment,
.billing {
  width: 550px;
}
.paypal-text {
  width: 510px;
}

/* Product*/
.text-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
